<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="condom.best.condom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.CustomStatus">
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomStatus"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Sign.LogInActivity"
            android:theme="@style/AppTheme.CustomStatus" />
        <activity android:name=".View.Sign.SignInActivity" />
        <activity android:name=".View.Sign.SignUpActivity" />
        <activity android:name=".View.Sign.PasswordActivity" />
        <activity android:name=".View.FirstSettingActivity" />
        <activity android:name=".View.SecondSettingActivity" />
        <activity android:name=".View.Dialog.ProfileDialog" />
        <activity
            android:name=".View.BottomNavPage.AddProduct"
            android:theme="@style/AppTheme.CustomStatus" />
        <activity android:name=".BottomNavPage.Adapter.SearchListAdapter" />
        <activity android:name=".View.Dialog.RatingDialog" />
        <activity
            android:name=".BottomNavPage.Product.ReviewActivity"
            android:theme="@style/AppTheme.CustomStatus" />
        <activity
            android:name=".BottomNavPage.Product.ProductInfoMore"
            android:theme="@style/AppTheme.CustomStatus" />
        <activity android:name=".View.BottomNavPage.Adapter.ProductReviewListAdapter" />
        <activity
            android:name=".View.BottomNavPage.MyPage.NameCustomActivity"
            android:theme="@style/AppTheme.CustomStatus" />
        <activity
            android:name=".BottomNavPage.Product.PhotoViewActivity"
            android:theme="@style/AppTheme.CustomStatus" />
        <activity android:name=".View.BottomNavPage.Adapter.TagAdapter" />
        <activity android:name=".View.BottomNavPage.Column.ColumnAddActivity"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>